* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #F3F0F0;
    font-weight: bold;
}

html {
    background-color: black;
}

.top {
    margin: 10px;
    padding: 2px;
}

.top h1 {
    font-size: 50px;
    font-family: ‘Simonetta’, cursive;
}

.top h1,
.top ul {
    display: inline-block;
}

.top ul {
    float: right;
    font-size: 20px;
    text-decoration: none;
}

p,
a,
h2,
h4 {
    font-family: 'Lora', serif;
}

.picture {
    width: 100%;
}

.choose,
.parks,
.states {
    padding: 10px;
    margin-top: 1rem;
    font-family: 'Lora', serif;
    font-size: 24px;
    text-align: center;
    background-color: black;
}

.parks,
.states {
    border: 2px solid white;
}

#searchButton {
    font-size: 24px;
    border: 2px solid white;
    padding: 2px;
    border-radius: 5px;
    background-color: black;
    font-family: 'Lora', serif;
}

.instructions {
    margin-top: 1rem;
}

.iconDisplay {
    height: 40px;
    width: 40px;
    position: relative;
    top: 12px;
}

.results {
    text-align: center;
    margin-top: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #242525;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid cornflowerblue;
    list-style-type: none;
}

.results ul li h2 {
    font-size: 26px;
    text-align: center;
    color: cornflowerblue;
}

.results ul li .add {
    height: 40px;
    width: 40px;
    position: relative;
    top: 10px;
}

.results ul li h4 {
    text-align: left;
    color: cornflowerblue;
    font-size: 22px;
}

.results ul li p {
    text-align: left;
    font-size: 20px;
}

.bucketListTitle {
    text-align: center;
    font-size: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.bucketListTitle h2 {
    margin-bottom: .75rem;
    text-decoration: underline;
}

.bucketListTitle .removeExplanation {
    height: 40px;
    width: 40px;
    position: relative;
    top: 12px;
    right: 6px;
}

.bucketList {
    margin-top: 10px;
    font-size: 20px;
}

.bucketList #checkedOff {
    font-size: 16px;
    border: 2px solid white;
    padding: 2px;
    border-radius: 5px;
    background-color: black;
    font-family: 'Lora', serif;
    position: relative;
    top: -32px;
    right: 6px;
}

.bucketList ul li {
    background-color: #242525;
    display: inline-block;
    width: 46%;
    border-radius: 5px;
    margin: 1%;
    position: relative;
    vertical-align: top;
    padding: 1rem;
}

.bucketList ul li h2 {
    color: cornflowerblue;
    text-align: center;
}

.bucketList ul li h4 {
    color: cornflowerblue;
}

.bucketList ul li .remove {
    height: 50px;
    width: 50px;
    position: relative;
    top: 15px;
}

.bucketList ul li #checkbox {}

footer {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    padding-top: 0rem;
    font-family: cursive;
}

footer p {
    padding: 1rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

footer ul {
    text-decoration: none;
}

footer ul li {
    display: inline-block;
    font-size: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
}

footer ul li a {
    color: white;
}

footer ul li a:hover {
    color: #F39041;
}

footer ul li a .fa-envelope {
    font-size: 42px;
}

@media only screen and (max-width: 1000px) {
    .bucketList ul li {
        display: block;
        margin-left: 1.3rem;
        width: 95%;
    }
}
