* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.top {
    margin: 15px;
    margin-bottom: 50px;
    padding: 2px;
    font-family: 'Playfair Display', serif;
    border: 1px solid black;
}

.top h1 {
    font-size: 40px;
}

.top h1,
.top ul {
    display: inline-block;
}

.top ul {
    float: right;
}

.choosePark,
.parks {
    margin: 25px;
    font-family: 'Simonetta', cursive;
    border: 1px solid black;
    text-align: center;
}

.results {
    border: 2px solid black;
}

.bucketList {
    border: 2px dotted black;
}
