* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    background-color: black;
}

body {
    font-weight: bold;
    color: #F3F0F0;
    font-size: 14px;
}

button {
    background-color: transparent;
}

section.choose,
section.results,
section.bucketListTitle,
section.bucketList,
section.beenThere,
footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.top {
    margin: 10px;
    padding: 2px;
    font-family: ‘Simonetta’, cursive;
}

.top h1 {
    font-size: 50px;
    font-family: ‘Simonetta’, cursive;
}

.top h1,
.top ul {
    display: inline-block;
}

.top ul {
    float: right;
    font-size: 20px;
}

.top ul a {
    display: block;
}

p,
h2,
h4 {
    font-family: 'Lora', serif;
}

a {
    text-decoration: none;
    color: #F3F0F0;
}

.wrapper .topPicture {
    width: 100%;
}

.wrapper p {
    position: relative;
    top: -20px;
}

.choose,
.parks,
.monuments {
    padding: 5px;
    margin-top: 1rem;
    font-family: 'Lora', serif;
    text-align: center;
    background-color: black;
    font-size: 1.25rem;
    color: #F3F0F0;
}

.parks,
.monuments {
    border: 2px solid cornflowerblue;
}

#searchButton {
    font-size: 1.25rem;
    border: 2px solid cornflowerblue;
    padding: 3px;
    border-radius: 5px;
    background-color: black;
    font-family: 'Lora', serif;
    color: #F3F0F0;
}

.iconDisplay {
    height: 40px;
    width: 40px;
    position: relative;
    top: 12px;
}

.results {
    text-align: center;
    margin-top: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #242525;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.results ul {
    list-style: none;
}

.results ul li h2 {
    font-size: 26px;
    text-align: center;
    color: cornflowerblue;
}

.results ul li .addToBucketListButton {
    display: inline-block;
    float: left;
}

.results ul li .add {
    height: 40px;
    width: 40px;
    position: relative;
    top: -30px;
    left: 25px;
}

.results ul li .parkImage {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.results ul li h4 {
    text-align: left;
    color: cornflowerblue;
    font-size: 22px;
}

.results ul li h4 span {
    color: #F3F0F0;
}

.results ul li p {
    text-align: left;
    font-size: 20px;
}

.bucketListTitle,
.beenThere {
    text-align: center;
    font-size: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.bucketListTitle,
.beenThere h2 {
    margin-bottom: .75rem;
    color: cornflowerblue;
}

.bucketListTitle p {
    color: #F3F0F0;
}

.bucketListTitle .removeExplanation,
.bucketList .removeExplanation {
    height: 40px;
    width: 40px;
    position: relative;
    top: 12px;
    right: 6px;
}

.bucketList .removeExplanation {
    position: absolute;
    top: -6px;
    right: -6px;
}

.bucketList {
    margin-top: 10px;
    font-size: 20px;
    border-bottom: 2px solid cornflowerblue;
}

.bucketList #checkedOff {
    font-size: 16px;
    border: 2px solid #F3F0F0;
    padding: 2px;
    border-radius: 5px;
    background-color: #242525;
    color: #F3F0F0;
    font-family: 'Lora', serif;
    position: absolute;
    top: 27px;
    right: 0px;
}

.bucketList ul {
    text-align: center;
    padding-bottom: 1rem;
}

.bucketList ul li {
    background-color: #242525;
    display: inline-block;
    width: 47%;
    border-radius: 5px;
    margin: 1%;
    position: relative;
    vertical-align: top;
    padding: 1rem;
}

.bucketList ul li h2 {
    color: cornflowerblue;
    text-align: center;
}

.bucketList ul li .remove {
    height: 45px;
    width: 45px;
    position: absolute;
    top: -13px;
    right: -13px;
}

.bucketList ul li .checkbox {
    height: 25px;
    width: 25px;
    background-image: url(img/checked-checkbox-sprite.png);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.bucketList ul li .checkbox-checked {
    height: 25px;
    width: 25px;
    background-image: url(img/checked-checkbox-sprite.png);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.bucketList ul li h4 {
    color: lightsteelblue;
}

.bucketList ul li h4 span {
    color: #F3F0F0;
}

.bucketList ul li img {
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

.beenThere ul li {
    background-color: #242525;
    display: inline-block;
    width: 47%;
    border-radius: 5px;
    margin: 1%;
    position: relative;
    vertical-align: top;
    padding: 1rem;
}

footer {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-top: 0rem;
    border-top: 2px solid cornflowerblue;
}

footer p {
    padding-top: 1rem;
    padding-bottom: .5rem;
    color: #F3F0F0;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    font-family: ‘Simonetta’, cursive;
    font-size: .85rem;
}

footer ul li {
    display: inline-block;
    font-size: 35px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
}

footer ul li a {
    color: #F3F0F0;
}

footer ul li a:hover {
    color: cornflowerblue;
}

footer ul li a .fa-envelope {
    font-size: 41px;
}

@media only screen and (max-width: 1200px) {
    section.choose,
    section.results,
    section.bucketListTitle,
    section.bucketList,
    footer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 11px;
    }
    section.choose,
    section.results,
    section.bucketListTitle,
    section.bucketList,
    footer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .results ul li .parkImage {
        width: 100%;
        height: auto;
    }
    .bucketList ul li {
        display: block;
        margin-left: 1.3rem;
        width: 95%;
    }
}

@media only screen and (max-width: 800px) {
    section.choose,
    section.results,
    section.bucketListTitle,
    section.bucketList,
    footer {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    #searchButton {
        font-size: 24px;
        border: 2px solid #F3F0F0;
        padding: 3px;
        border-radius: 5px;
        background-color: black;
        font-family: 'Lora', serif;
        color: #F3F0F0;
        margin-top: .5rem;
    }
    footer p {
        font-size: .75rem;
    }
}
